@font-face {
    /* Downloaded from axis-praxis.org, font from https://github.com/TypeNetwork/fb-Amstelvar. */
    src: url("https://lea.verou.me/files/AmstelvarAlpha-Variations.ttf")
      format("truetype");
    font-family: Amstelvar;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
    font-family: Amstelvar;
    font-size: 100px;
    font-variation-settings: "wght" 10, "wdth" 0, "opsz" 10;
  }
  